{% extends 'language_swap/base.html' %}
{% load i18n %}
{% load staticfiles %}
{% block specific_css %}
    <link href="{% static 'css/bootstrap/css/signin.css' %}" rel="stylesheet">
{% endblock %}

{% block title_block %}{% trans "Change Password" %}{% endblock %}

{% block body_block %}
    <div class="container-fluid">
        <!-- Change password form -->
        <form class="form-signin" method="post" action=".">
            <h1 class="form-signin-heading">{% trans "Change your password." %}</h1>
            {% csrf_token %}

            <!-- Old password -->
            <label for="id_old_password" class="sr-only">Old password</label>
            <input class="form-control" type="password" name="old_password" id="old_password" placeholder="Old password">
            <!-- Display errors for old password -->
            {% for error in form.old_password.errors %}
                <div class="text-danger small">{{error}}</div>
            {% endfor %}

            <!-- New password -->
            <label for="id_new_password1" class="sr-only">New password:</label>
            <input class="form-control mt-3" id="id_new_password1" type="password" name="new_password1"  placeholder="New password">

            <!-- New password confirmation -->
            <label class="sr-only" for="id_new_password2">New password confirmation:</label>
            <input class="form-control" type="password" name="new_password2" id="id_new_password2" placeholder="New password confirmation">
            <!-- Display an informative message in case of error -->
            {% if form.errors %}
                <div class="text-danger small">
                    Please enter matching passwords.
                </div>
            {% endif %}

            <!-- Submit and cancel buttons -->
            <div class="text-center mt-3">
                <a href="{% url 'myProfile' %}" role="button" class="btn btn-secondary">{% trans "Cancel" %}</a>
                <button class="btn btn-primary" type="submit">{% trans 'Submit' %}</button>
            </div>
        </form>
    </div>
{% endblock %}
