{% load i18n %}

{% blocktrans %}Hello {% endblocktrans %}{{ user.first_name }},

{% blocktrans %}
To reset your password for your LanguageSwap account please click the following link, or copy and paste it into your web browser:
{% endblocktrans %}

{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'auth_password_reset_confirm' uid token %}
{% endblock %}

{% blocktrans %}
If you do not wish to reset your password, you can safely disregard this email.
{% endblocktrans %}

{% blocktrans %}Sincerely{% endblocktrans %},
LanguageSwap{% blocktrans %} Team{% endblocktrans %}

{% blocktrans %}
Note: This email address cannot accept replies. If you have any further enquires please contact us:
{% endblocktrans %}{{ protocol }}://{{ domain }}{% url 'contact' %}
