{% extends 'language_swap/base.html' %}
{% load i18n %}
{% load staticfiles %}

{% block specific_css %}
    <link href="{% static 'css/bootstrap/css/signin.css' %}" rel="stylesheet">
{% endblock %}

{% block body_block %}
    <div class="container-fluid">
        {% if validlink %}
            <!-- Reset password form -->
            <form class="form-signin" method="post" action=".">
                <h1 class="form-signin-heading">{% trans "Reset password." %}</h1>
                {% csrf_token %}

                <!-- New password -->
                <label for="id_new_password1" class="sr-only">New password:</label>
                <input class="form-control" id="id_new_password1" type="password" name="new_password1"  placeholder="New password">

                <!-- New password confirmation -->
                <label class="sr-only" for="id_new_password2">New password confirmation:</label>
                <input class="form-control" type="password" name="new_password2" id="id_new_password2" placeholder="New password confirmation">
                <!-- Display an informative error message -->
                {% if form.errors %}
                    <div class="text-danger small">
                        Please enter matching passwords.
                    </div>
                {% endif %}

                <!-- Submit button -->
                <input class="btn btn-primary btn-lg btn-block mt-3"type="submit" value="{% trans 'Submit' %}" />
            </form>
        {% else %}
            <!-- Display an informative error message -->
            <div class="alert alert-danger">{% trans "Password reset failed" %}</div>
        {% endif %}
    </div>
{% endblock %}
