{% extends 'language_swap/base.html' %}
{% load i18n %}
{% load staticfiles %}
{% block specific_css %}
    <link href="{% static 'css/bootstrap/css/signin.css' %}" rel="stylesheet">
{% endblock %}

{% block title_block %}{% trans "Change Password" %}{% endblock %}

{% block body_block %}
    <div class="container-fluid">
        <form class="form-signup" method="post" action=".">
            <h1 class="form-signin-heading">{% trans "Change your password." %}</h1>
            {% csrf_token %}
            {{ form.as_p }}
            <a href="{% url 'myProfile' %}" type="button" class="btn btn-default">{% trans "Cancel" %}</a>
            <button class="btn btn-primary" type="submit">{% trans 'Submit' %}</button>
        </form>
    </div>
{% endblock %}
