{% extends 'language_swap/base.html' %}
{% load i18n %}
{% load staticfiles %}
{% block specific_css %}
    <link href="{% static 'css/bootstrap/css/signin.css' %}" rel="stylesheet">
    <link href="{% static 'css/select2.min.css' %}" rel="stylesheet"/>
{% endblock %}

{% block title_block %}{% trans "Sign Up" %}{% endblock %}

{% block body_block %}
    <div class="container-fluid">
        <form class="form-signup" method="post" action=".">
            {% csrf_token %}
            <h1 class="form-signin-heading">{% trans "Sign Up" %}</h1>
            {{ form.non_field_errors }}
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="{{ form.first_name.id_for_label }}">First Name:</label>
                    <span id="first_name_error"></span>
                    <input class="form-control" id="{{ form.first_name.id_for_label }}"
                           name="{{ form.first_name.name }}" type="text" value="{{ form.data.first_name }}"
                           required autofocus>
                    {{ form.first_name.errors }}
                </div>
                <div class="form-group col-md-6">
                    <label for="{{ form.last_name.id_for_label }}">Last Name:</label>
                    <span id="last_name_error"></span>
                    <input class="form-control" id="{{ form.last_name.id_for_label }}"
                           name="{{ form.last_name.name }}" type="text" value="{{ form.data.last_name }}" required>
                    {{ form.last_name.errors }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col">
                    <label for="{{ form.email.id_for_label }}">Email:</label>
                    <span id="email_error"></span>
                    <input class="form-control" id="{{ form.email.id_for_label }}" name="email" type="email"
                           value="{{ form.data.email }}" required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="{{ form.password1.id_for_label }}">Password:</label>
                    <span id="pass1_error"></span>
                    <input class="form-control" id="{{ form.password1.id_for_label }}" name="password1" type="password"
                           value="{{ form.data.password1 }}" required>
                    {{ form.password1.errors }}
                </div>
                <div class="form-group col-md-6">
                    <label for="{{ form.password2.id_for_label }}">Password Confirmation:</label>
                    <span id="pass2_error"></span>
                    <input class="form-control" id="{{ form.password2.id_for_label }}" name="password2" type="password"
                           value="{{ form.data.password2 }}" required>
                    {{ form.password2.errors }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label>City:</label>
                    <span id="city_error"></span>
                    <input type="text" name="places" id="gMapsAutocomplete" class="form-control autocomplete-address"
                           placeholder="" required>
                </div>
                <div class="form-group col-md-4">
                    <label for="{{ form.dob.id_for_label }}">Date of Birth:</label>
                    <span id="birthday_error"></span>
                    <input class="form-control" id="{{ form.dob.id_for_label }}" name="dob" type="date"
                           placeholder="YYYY-MM-DD" value="{{ form.data.dob }}" required>
                    {{ form.dob.errors }}
                </div>
                <div class="form-group col-md-4">
                    <label for="{{ form.gender.id_for_label }}">Gender:</label><br>
                    {% for value,label in form.gender.field.choices %}
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="gender"
                                   id="{{ form.gender.id_for_label }}" value="{{ value }}" required>
                            <label class="form-check-label" for="{{ form.gender.id_for_label }}">{{ label }}</label>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="{{ form.speaks.id_for_label }}">Native Language(s):</label>
                    <span id="native_error"></span>
                    <select class="custom-select" name="speaks" required id="{{ form.speaks.id_for_label }}" multiple>
                        <option value="" disabled>Select up to 5 languages</option>
                        {% for language in form.speaks.field.queryset %}
                            <option value="{{ language }}">{{ language|title }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label for="{{ form.practices.id_for_label }}">Practising Language(s):</label>
                    <span id="practice_error"></span>
                    <select class="custom-select" name="practices" required id="{{ form.practices.id_for_label }}" multiple>
                        <option value="" disabled>Select up to 5 languages</option>
                        {% for language in form.practices.field.queryset %}
                            <option value="{{ language }}">{{ language|title }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <center><button type="submit" class="btn btn-primary btn-lg">{% trans "Sign Up" %}</button></center>
        </form>
    </div>
{% endblock %}

{% block extra_resources_block %}
    <script src="{% static 'javascript/select2.min.js' %}"></script>
    <!-- Import the google maps places API -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD0WYZr005e3brFlluhm2dUStd1bmZ5jec&libraries=places&language=en"></script>
    <script src="{% static 'javascript/placesAutocomplete.js' %}"></script>
    <script src="{% static 'javascript/customMultiselect.js' %}"></script>
    <script src="{% static 'javascript/registrationChecker.js' %}"></script>
{% endblock %}
