{% extends 'language_swap/base.html' %}
{% block title_block %} About {% endblock %}

{% block body_block %}

    <div class="container pt-5 h-100">
        <h4 class="display-4 pb-5">About LanguageSwap</h4>
        <ul class="list-unstyled">
            <!-- List element 1 -->
            <li>
                <h4>Why should you use languageSwap when there are so many apps and tools to learn languages?</h4>
                <p class="pl-3 text-justify text-muted font-weight-light">
                    LanguageSwap allows you to meet real people and create a connection that will help you when you are struggling with the challenges of learning a new language.
                    Plus, we know that sometimes people are very worried of making mistakes when learning a new language, so meeting someone who is also trying to learn a language may help you understand that everyone struggles at something!
                </p>
            </li>
            <!-- List element 2 -->
            <li>
                <h4>Is LanguageSwap free?</h4>
                <p class="pl-3 text-muted text-justify font-weight-light">
                    Yes, of course! You will meet many people who are trying to learn like you, so nobody should charge you as if it was a tutoring lesson!
                </p>
            </li>
            <!-- List element 3 -->
            <li>
                <h4>Can I use LanguageSwap while I'm on holiday?</h4>
                <p class="pl-3 text-muted text-justify font-weight-light">
                    Sure! You could have the chance to meet a native language speaker that may guide you around the city and show you the nicest cafès in the city!
                </p>
            </li>
        </ul>
    </div>
{% endblock %}
