{% extends 'language_swap/base.html' %}

{% block title_block %}Contact Us{% endblock %}

{% block body_block %}
    <div class="container py-5">
        <h2 class="display-4">Meet the team</h2>
        <ul class="lead list-unstyled">
            <li>Gloria</li>
            <li>Martina</li>
            <li>Alessandro</li>
            <li>Dante</li>
        </ul>

        <h2 class="display-4">Contact us</h2>
        <ul class="lead list-unstyled">
            <li><i class="far fa-envelope"></i> languageswapproject@gmail.com</li>
            <li><i class="fas fa-university"></i> Uni of Glasgow</li>
            <li class="pl-4"><i class="fab fa-facebook-square"></i> <i class="fab fa-twitter-square"></i></li>
        </ul>


    </div>
{% endblock %}
