{% extends 'language_swap/base.html' %}
{% load staticfiles %}
{% load languageswap_template_tags %}

{% block title_block %}Contact History{% endblock %}

{% block body_block %}
    <div class="container-fluid">
        <!-- Header -->
        <div class="header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
            <h3 class="display-5">Contact history</h3>
        </div>

        <!-- If there are contacts on the user's contact history, shows their details -->
        {% if contacts %}
            <div class="row mx-3">
                {% for details in contacts.values %}
                <div class="col-sm-6 col-md-4 col-xl-3 d-flex align-items-stretch pb-4">
                    {% get_cards_list details "contactHistory" MEDIA_URL %}
                </div>
                {% endfor %}
            </div>

        <!-- Otherwise shows an informative message-->
        {% else %}
        <div class="text-center h-100">
            <p>The contact history is empty.</p>
        </div>
        {% endif %}

    </div>
{% endblock %}

{% block extra_resources_block %}
    <script src="{% static 'javascript/rateUserAjax.js' %}"></script>
{% endblock %}
