{% extends 'language_swap/base.html' %}
{% load i18n %}
{% load staticfiles %}

{% block specific_css %}
    <link href="{% static 'css/bootstrap/css/signin.css' %}" rel="stylesheet">
{% endblock %}

{% block title_block %}{% trans "Delete Account" %}{% endblock %}

{% block body_block %}
    <div class="container-fluid">
        <form class="form-signup text-center" method="post" action=".">
            {% csrf_token %}

            <p class="lead">{% trans "Are you sure you want to delete your account? This action cannot be reversed." %}</p>

            <div class="text-center">
                <a href="{% url 'myProfile' %}" role="button" class="btn btn-secondary">{% trans "Cancel" %}</a>
                <button type="submit" class="btn btn-danger">{% trans "Delete" %}</button>
            </div>

        </form>
    </div>
{% endblock %}
