{% extends 'language_swap/base.html' %}
{% load i18n %}
{% load staticfiles %}
{% block specific_css %}
    <link href="{% static 'css/bootstrap/css/signin.css' %}" rel="stylesheet">
{% endblock %}

{% block title_block %}{% trans "Delete Account" %}{% endblock %}

{% block body_block %}
    <div class="container-fluid">
        <form class="form-signup" method="post" action=".">
            {% csrf_token %}
            {{ form.as_p }}
            <p>{% trans "Are you sure you want to delete your account? This action cannot be reversed." %}</p>
            <a href="{% url 'myProfile' %}" type="button" class="btn btn-default">{% trans "Cancel" %}</a>
            <button type="submit" class="btn btn-primary">{% trans "Delete" %}</button>
        </form>
    </div>
{% endblock %}
