{% extends 'language_swap/base.html' %}
{% load i18n %}
{% load staticfiles %}
{% load languageswap_template_tags %}

{% block title_block %}{% trans "Edit Profile" %}{% endblock %}

{% block body_block %}
    <div class="container">
        <!-- Header -->
        <div class="header text-center px-3 py-3 pt-md-5 pb-md-4 mx-auto">
            <h3 class="display-4">Edit Your Profile</h3>
        </div>

        <!-- Shows user profile information and allows the user to edit the optional details -->
        {% if userProfile.values %}
        <div class="row">
            <div class="col-md-8 col-lg-6 mx-auto px-3">
            {% for details in userProfile.values %}
                {% get_cards_list details "edit_profile" %}
            {% endfor %}
            </div>
        </div>

        <!-- Show an informative message in case of errors -->
        {% else %}
            <div class="lead">No information found.</div>
        {% endif %}

    </div>
{% endblock %}

{% block extra_resources_block %}
    <!-- Import the google maps places API -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD0WYZr005e3brFlluhm2dUStd1bmZ5jec&libraries=places&language=en"></script>
    <script src="{% static 'javascript/placesAutocomplete.js' %}"></script>
    <script src="{% static 'javascript/fileUploader.js' %}"></script>
{% endblock %}
