{% extends 'language_swap/base.html' %}
{% load staticfiles %}

{% block title_block %} Home {% endblock %}

{% block body_block %}
<main role="main">
    <div class="row overflow-hidden p-3 p-md-5 text-center bg-dark bg">
        <div class="col-md-8 p-lg-5 mx-auto my-5">
            <!--Page header-->
            <h1 class="display-4 font-weight-normal text-light">Find your language buddy</h1>
            <p class="lead font-weight-normal text-light">Learning a new language has never been so cool</p>

            <!--Responsive search form -->
            <form id="search_user_form" method="get" action="{%  url 'result' %}">
              <div class="form-row">
                <div class="col-md mb-2">
                  <select name="spokenLanguage" class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                    <option value="" disabled selected>Native language</option>
                    {% for language in languages %}
                        <option value="{{ language }}">{{ language | title }}</option>
                    {% endfor %}
                    </select>
                </div>
                <div class="col-md mb-2">
                  <select name="practicingLanguage" class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                    <option value="" disabled selected>Practicing language</option>
                    {% for language in languages %}
                        <option value="{{ language }}">{{ language | title }}</option>
                    {% endfor %}
                    </select>
                </div>
                <div class="col-md mb-2">
                    <input type="text" name="places" id="gMapsAutocomplete" class="form-control autocomplete-address" placeholder="Select your city">
                </div>

                <!-- Submit button becomes a block-button at the small breakpoint. -->
                <div class="d-sm-none d-md-inline col-md-2 col-xl-1 mb-2">
                  <button class="btn btn-primary" type="submit">Search</button>
                </div>
                <div class="d-md-none col-md-2 col-xl-1 mb-2">
                  <button class="btn btn-primary btn-block" type="submit">Search</button>
                </div>

              </div>
            </form>
        </div>
    </div>

    <!-- Informative columns
      ================================================== -->

    <div class="container marketing">
        <!-- Three columns of text below the carousel -->
        <div class="row pt-5">
           <!-- Column 1: Contact -->
            <div class="col-lg-4 pt-4">
                <img class="rounded-circle" src="{% static 'images/chat.jpg' %}" alt="Generic placeholder image" width="140" height="140">
                <h2 class="pt-3">Contact.</h2>
                <p>
                    Find someone in your city who wants to learn a language you already speak and speaks the language you are practicing!
                    Send them an email through our website and let the SWAP begin!
                </p>
            </div>
            <!-- Column 2: Meet -->
            <div class="col-lg-4 pt-4">
                <img class="rounded-circle" src="{% static 'images/meet.jpeg' %}" alt="Generic placeholder image" width="140" height="140">
                <h2 class="pt-3">Meet.</h2>
                <p>
                    After contacting another LanguageSwap user, arrange a face-to-face meeting!
                    There is nothing better than a friendly chat and a coffee to break the ice!
                </p>
            </div>
            <!-- Column 3: Practice -->
            <div class="col-lg-4 pt-4">
                <img class="rounded-circle" src="{% static 'images/practice.jpeg' %}" alt="Generic placeholder image" width="140" height="140">
                <h2 class="pt-3">Practice!</h2>
                <p>
                    Now that you are all warmed up and sharing a nice cup of Italian gelato, choose a topic and let's practice!
                    <em>Warning: </em>if this will be so much fun that you'll end up sharing 10 cups of gelato, WE DON'T TAKE ANY RESPONSIBILITY!
                </p>
            </div>
        </div>


        <!-- Present example users
          ================================================== -->

        <hr class="featurette-divider">
        <!-- Example user 1 -->
        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">Meet Alice. <span class="text-muted">She's a literature lover.</span></h2>
                <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. </p>
            </div>
            <div class="col-md-5">
                <img class="featurette-image img-fluid mx-auto" src="{% static 'images/user1.jpeg' %}" alt="Generic placeholder image">
            </div>
        </div>
        <hr class="featurette-divider">

        <!-- Example user 2 -->
        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading">Meet Kyle. <span class="text-muted">Interested in mechanic.</span></h2>
                <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper.</p>
            </div>
            <div class="col-md-5 order-md-1">
                <img class="featurette-image img-fluid mx-auto" src="{% static 'images/user3.jpeg' %}" alt="Generic placeholder image">
            </div>
        </div>
        <hr class="featurette-divider">

        <!-- Example user 3 -->
        <div class="row featurette pb-5">
            <div class="col-md-7">
                <h2 class="featurette-heading">Meet John. <span class="text-muted">He's a football player.</span></h2>
                <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper.</p>
            </div>
            <div class="col-md-5">
                <img class="featurette-image img-fluid mx-auto" src="{% static 'images/user2.jpeg' %}" alt="Generic placeholder image">
            </div>
        </div>
    </div>
</main>
{% endblock %}

{% block extra_resources_block %}
    <!-- Import the google maps places API -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD0WYZr005e3brFlluhm2dUStd1bmZ5jec&libraries=places&language=en"></script>
    <script src="{% static 'javascript/placesAutocomplete.js' %}"></script>
{% endblock %}
