{% extends 'language_swap/base.html' %}
{% load staticfiles %}
{% load languageswap_template_tags %}

{% block title_block %}My Profile{% endblock %}

{% block body_block %}
    <div class="container">
        <!-- Header -->
        <div class="header text-center px-3 py-3 pt-md-5 pb-md-4 mx-auto">
            <h3 class="display-4">Your Profile</h3>
        </div>

        <!-- Show user details -->
        {% if userProfile.values %}
            {% for details in userProfile.values %}
                <div class="row">
                    <div class="col-md-8 col-lg-6 mx-auto px-3">
                        {% get_cards_list details "profile" MEDIA_URL %}
                    </div>
                </div>
            {% endfor %}
        <!-- Shows an informative message if no information is found -->
        {% else %}
            <p>No information found.</p>
        {% endif %}
    </div>
{% endblock %}
